src/main/mule/fakestore-product-prc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="fakestore-product-papi-main" doc:id="ad744204-dc4f-4b82-a26f-6de26f28b980">
        <http:listener path="/api/${layer}/${context}/${version}/*" config-ref="fakestore-product-papi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fakestore-product-papi-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform doc:name="Common Error Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Common Error Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Common Error Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="Common Error Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Common Error Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Common Error Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header":{
		"apiName": p('app.name'),
		"apiVersion": p('version'),
		"correlationId": correlationId,
    }, 
    "error": {
		"description": error.description,
		"status": error.errorType.identifier,
		"invocationTimestamp": now()
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="fakestore-product-papi-console">
        <http:listener path="/console/*" config-ref="fakestore-product-papi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fakestore-product-papi-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\products\(id):application\json:fakestore-product-papi-config">
		<flow-ref doc:name="updateProduct" doc:id="6eac672c-2d37-4f22-b696-1d497ada9cb5" name="updateProduct-implFlow"/>
    </flow>
    <flow name="get:\products:fakestore-product-papi-config" doc:id="8ab46e1d-ea9f-4175-ad97-3990eada26e0">
		<flow-ref doc:name="getAllProducts" doc:id="631aa1dd-04cd-4c63-b43e-957f8936de7d" name="getAllProducts-implFlow"/>
    </flow>
    <flow name="get:\products\top10:fakestore-product-papi-config">
		<flow-ref doc:name="getTop10Products" doc:id="eec3e349-63be-4c42-aeee-4a4668fbeff8" name="getTop10Products-implFlow"/>
    </flow>
    <flow name="get:\products\(id):fakestore-product-papi-config">
		<flow-ref doc:name="getProductByID" doc:id="638df246-d63d-402e-a7e5-b2971c2c4bfd" name="getProductByID-implFlow"/>
    </flow>
    <flow name="post:\products:application\json:fakestore-product-papi-config" doc:id="2758bfde-f59e-4439-bf8d-8a65f3a506fb">
		<flow-ref doc:name="createNewProduct" doc:id="079ab65f-7599-4122-a814-a392d2e99d2a" name="createNewProduct-implFlow"/>
    </flow>
</mule>
